body {
  font-family: Arial;
  background: #0f172a;
  color: white;
  padding: 30px;
  transition: 1s;
}

h1 {
  text-align: center;
  color: #10b981;
  margin-bottom: 30px;
}

.container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
}

label {
  display: block;
  margin-top: 10px;
}

input, select {
  width: 100%;
  margin-top: 5px;
}

button {
  margin-top: 15px;
  padding: 8px;
  width: 100%;
  background: #10b981;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.green {
  background: linear-gradient(to right, #064e3b, #10b981);
}

.red {
  background: linear-gradient(to right, #1f2937, #7f1d1d);
}








