* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0f2027;
  color: white;
  overflow-x: hidden;
}

/* HERO */
.hero {
  height: 100vh;
  background: linear-gradient(to bottom right, #0f2027, #203a43, #2c5364);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h1 {
  font-size: 4rem;
  letter-spacing: 2px;
}

.hero p {
  font-size: 1.5rem;
  margin: 20px 0;
}

button {
  padding: 12px 25px;
  background: #00ffae;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px #00ffae;
}

/* SECTIONS */
.section {
  padding: 100px 20px;
  text-align: center;
}

.dark {
  background: #111;
}

/* STATS */
.stats {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-top: 40px;
}

.stat h3 {
  font-size: 3rem;
  color: #00ffae;
}

/* SIMULATOR */
.sim-box {
  max-width: 600px;
  margin: auto;
}

input[type=range] {
  width: 100%;
  margin: 10px 0 20px;
}

footer {
  background: #000;
  padding: 20px;
  text-align: center;
}











