body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #0f172a;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    background: #111827;
    position: sticky;
    top: 0;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

nav a {
    color: white;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 120px 20px;
    background: linear-gradient(90deg, #0ea5e9, #22c55e);
}

.hero button {
    padding: 12px 25px;
    border: none;
    background: white;
    color: black;
    font-weight: bold;
    cursor: pointer;
    border-radius: 6px;
}

.section {
    padding: 70px 20px;
    text-align: center;
}

.dark {
    background: #111827;
}

.grid-4 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.card {
    background: #1e293b;
    padding: 25px;
    border-radius: 12px;
}

.architecture {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.architecture div {
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
}

.scenario-grid {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

.scenario {
    padding: 30px;
    border-radius: 15px;
    width: 280px;
}

.green {
    background: linear-gradient(135deg, #22c55e, #0ea5e9);
    color: black;
}

.polluted {
    background: linear-gradient(135deg, #ef4444, #7f1d1d);
}

input, select {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: none;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    font-weight: bold;
}

footer {
    padding: 30px;
    text-align: center;
    background: #111827;
}

