body {
    margin: 0;
    font-family: Arial;
    background: #0f172a;
    color: white;
}

header {
    text-align: center;
    padding: 40px;
    background: linear-gradient(90deg, #0f172a, #1e293b);
}

.controls {
    display: flex;
    gap: 20px;
    padding: 30px 10%;
    flex-wrap: wrap;
}

.card {
    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 15px;
    flex: 1;
    min-width: 250px;
}

select, button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
}

button {
    background: #00c853;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.dashboard {
    display: flex;
    justify-content: space-around;
    padding: 40px 10%;
    flex-wrap: wrap;
}

.metric {
    text-align: center;
}

.scoreCircle {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: conic-gradient(green 0deg, red 0deg);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 22px;
    font-weight: bold;
}

.chartSection {
    padding: 40px 10%;
}

footer {
    text-align: center;
    padding: 20px;
    background: #1e293b;
}







