body {
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
  padding: 40px;
  transition: background 1s ease;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
  color: #10b981;
}

.container {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background: #1e293b;
  padding: 25px;
  border-radius: 12px;
  width: 350px;
  transition: all 1s ease;
}

label {
  display: block;
  margin-top: 15px;
}

input, select {
  width: 100%;
  margin-top: 5px;
  padding: 6px;
}

button {
  margin-top: 20px;
  padding: 10px;
  width: 100%;
  background: #10b981;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #059669;
}

/* Green Future */
.green-bg {
  background: linear-gradient(to right, #065f46, #10b981);
}

/* Polluted Future */
.polluted-bg {
  background: linear-gradient(to right, #1f2937, #7f1d1d);
}








