body {
    font-family: Arial;
    text-align: center;
    background: #f2f7f6;
    margin: 0;
}

h1 {
    background: #2ecc71;
    color: white;
    padding: 15px;
    margin: 0;
}

.controls {
    margin: 20px;
}

select, button {
    padding: 8px;
    font-size: 14px;
}

button {
    background: #27ae60;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #219150;
}

/* Wheel */

.wheel {
    width: 300px;
    height: 300px;
    margin: 30px auto;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    border-radius: 50%;
    overflow: hidden;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    flex-direction: column;
    font-size: 18px;
}

.green { background: #a9dfbf; }
.red { background: #f5b7b1; }
.blue { background: #aed6f1; }
.yellow { background: #f9e79f; }

.center {
    position: absolute;
    width: 100px;
    height: 100px;
    background: white;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

/* Charts */

.charts {
    width: 80%;
    margin: 40px auto;
}

canvas {
    max-width: 500px;
    margin: 20px auto;
}





